@model GovernorateVM

<div class="card-body">
	<div class="form-group">
		<label for="exampleInputText">المحافظة</label>
		<input asp-for="GovernorateName" type="text" class="form-control" id="exampleInputText" readonly>
	</div>
</div>