@model RoleVM

<div class="card-body">
	<span class="text-danger" class="text-danger" asp-validation-for="Id"></span>

	<div class="form-group">
		<label asp-for="Name" for="exampleInputText">نوع الصلاحية</label>
		<input asp-for="Name" type="text" class="form-control" id="exampleInputText" disabled>
	</div>

</div>