

<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="/Uploads/DefaultImages/14.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">المفضلة</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="/"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> الصفحة الرئيسية</a></li>
                            <li>المفضلة</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<!-- WISHLIST AREA START -->
<div class="liton__wishlist-area mb-105">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping-cart-inner">
                    <div id="wishlistPage" class="shoping-cart-table table-responsive">
                        <table class="table">
                            @*  <thead>
                                <tr>
                                    <th class="cart-product-remove">X</th>
                                    <th class="cart-product-image">الصورة</th>
                                    <th class="cart-product-type">النوع</th>
                                    <th class="cart-product-status">الحالة</th>
                                    <th class="cart-product-num">رقم العقار</th>
                                    <th class="cart-product-price">السعر</th>
                                </tr>
                            </thead>  *@
                            <tbody>
                               
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- WISHLIST AREA START -->


@section Scripts {
    <script>
                // Check if the wishlist page is loaded
        document.addEventListener("DOMContentLoaded", function () {
            const wishlistPage = document.getElementById("wishlistPage");
            if (wishlistPage) {
                loadWishlist();
            }
        });
    </script>
}