@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Areas/AdminArea289/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper" style="min-height: 1017.2px;">

    <h1> You are not authorized</h1>
</div>
