@model ForgetPasswordVM

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}

<div class="register-box">
    <div class="register-logo">
        <a asp-controller="Home" asp-action="Index">Tale Aqar</a>
    </div>

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Login Now</p>

            <form asp-action="ForgetPassword" method="post">
                <div asp-validation-summary="All"></div>

                <div class="input-group mt-3">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>


                    <input type="email" class="form-control" placeholder="Email" asp-for="Email" required>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>

                <br />
                <button type="submit" class="btn btn-primary btn-block btn-flat">ارسال استعادة الباسور الى الاميل</button>

            </form>
            <p class="text-center"><a asp-action="Login">إلغاء</a></p>

        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}

