@model TypeVM

<div class="card-body">
	<span class="text-danger" class="text-danger" asp-validation-for="TypeId"></span>

	<div class="form-group">
		<label asp-for="TypeName" for="exampleInputText">نوع العقار</label>
		<input asp-for="TypeName" type="text" class="form-control" id="exampleInputText" disabled>
	</div>

</div>