@model CityVM

@{
	ViewData["Title"] = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper" style="min-height: 1017.2px;">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>إضافة مدينة جديدة</h1>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<!-- left column -->
				<div class="col-md-6">
					<!-- general form elements -->
					<div class="card card-primary">
						<div class="card-header"></div>
						<!-- /.card-header -->
						<!-- form start -->
						<form role="form" method="post" asp-action="Create" >

							<partial name="PartialViews/CreateEditPartial"></partial>

							<div class="card-footer">
								<button type="submit" class="btn btn-primary">حفظ</button>
								<a class="btn btn-danger" asp-action="Index">إلغاء</a>
							</div>
						</form>
					</div>

				</div>

				<div class="col-md-6"></div>

			</div>
			<!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial"></partial>
}