@model StatusVM

<div class="card-body">
	<span class="text-danger" class="text-danger" asp-validation-for="StatusId"></span>

	<div class="form-group">
		<label asp-for="StatusName" for="exampleInputText">العنوان</label>
		<input asp-for="StatusName" type="text" class="form-control" id="exampleInputText" disabled>
	</div>

</div>