@model OwnerVM

<div class="card-body">
	<input type="hidden" asp-for="OwnerId" />
	<span class="text-danger" class="text-danger" asp-validation-for="OwnerId"></span>

	<input type="hidden" asp-for="CurrentState" />

	<div class="form-group">
		<label asp-for="FullName" for="exampleInputText">الاسم الاول</label>
		<input asp-for="FullName" type="text" class="form-control" id="exampleInputText" placeholder="أدخل الاسم الاول">
		<span class="text-danger" class="text-danger" asp-validation-for="FullName"></span>
	</div>

	<div class="form-group">
		<label asp-for="Email" for="exampleInputText">الاميل</label>
		<input asp-for="Email" type="email" class="form-control" id="exampleInputText" placeholder="أدخل الاميل">
		<span class="text-danger" class="text-danger" asp-validation-for="Email"></span>
	</div>


	<div class="form-group">
		<label asp-for="PhoneNumber" for="exampleInputText">التليفون</label>
		<input asp-for="PhoneNumber" type="number" class="form-control" id="exampleInputText" placeholder="أدخل التليفون">
		<span class="text-danger" class="text-danger" asp-validation-for="PhoneNumber"></span>
	</div>

	<div class="form-group">
		<label asp-for="Address" for="exampleInputText">العنوان</label>
		<input asp-for="Address" type="text" class="form-control" id="exampleInputText" placeholder="أدخل العنوان">
		<span class="text-danger" class="text-danger" asp-validation-for="Address"></span>
	</div>
</div>