@model CurrencyVM

<div class="card-body">
	<div class="form-group">
		<label for="exampleInputText">العملة</label>
		<input asp-for="CurrencyName" type="text" class="form-control" id="exampleInputText" readonly>
	</div>
</div>